html,
body.slideshow
{
  margin: 0px;
  padding: 0px;
  background: #000;
  color: #FFF;
}

div.mediashare-slideshow
{
  text-align: center;
  margin: auto;
}

div.mediashare-menu
{
  border: 2px solid #FFF;
  margin: auto;
  margin-top: 5px;
  padding: 2px;
  width: 90%;
  font-weight: bold;
}

div.mediashare-menu *
{
  vertical-align: middle;
}

div.mediashare-menu a:hover
{
  text-decoration: none;
  color: #000;
}

#slideshowSizeAnchor
{
  float: left;
  display: block;
  font-size: 12px;
  margin-left: 30px;
  margin-top: 3px;
}

#mediaCount
{
  margin-left: 10px;
}

#mediaBox
{
  margin: auto;
  margin-top: 10px;
}

#mediaTitleBox
{
  position: absolute;
  top: 70px;
  border: 2px solid #FFF;
  color: #FFF;
  background-color: #444;
  cursor: hand;
  cursor: pointer;
}

