
/* Standard stylesheets */

body.slideshow {
  background: #000;
  color: #FFF;
  margin: 0px;
  padding: 0px;
}

body.slideshow h1,
body.slideshow a {
  color: #FFF;
}

div.mediashare-slideshow {
  height: 100%;
}

div.mediashare-slideshow h1 {
  color: #FFF;
  text-align: center;
}

div.mediashare-slideshow h1 a {
  color: #FFF;
}

div.mediashare-slideshow div.mediashare-menu {
  border: none;
  font-weight: bold;
  height: 30px;
  padding: 0px;
  width: 100%;
}

div.mediashare-slideshow div.mediashare-menu table {
  width: 100%;
}

div.mediashare-slideshow div.mediashare-menu table td a,
div.mediashare-slideshow div.mediashare-menu table td select,
div.mediashare-slideshow div.mediashare-menu table td button {
  vertical-align: middle;
}

div.mediashare-slideshow div.mediashare-menu table td button {
  background-color: #666;
  border: 2px solid #333;
  color: #FFF;
  font-weight: bold;
  margin: 0px 10px;
}

div.mediashare-slideshow div.mediashare-menu table td select {
  border: 2px solid #333;
}

div.mediashare-slideshow iframe {
  width: 100%;
}

div.mediashare-slideshow div.mediashare-data {
  color: #FFF;
  float: right;
  padding: 20px;
  width: 300px;
}

div.mediashare-slideshow div.mediashare-data h3,
div.mediashare-slideshow div.mediashare-data a {
  color: #FFF;
}

div.mediashare-slideshow div.mediashare-item {
  float: none;
  text-align: center;
  padding: 20px;
}

div.mediashare-slideshow div.mediashare-item a {
  color: #FFF;
  font-weight: bold;
  font-size: 140%;
}

div.mediashare-slideshow div.stripframe {
}

div.mediashare-slideshow div.strip {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin: auto;
  overflow-x: scroll; 
  padding: 0px;
  white-space: nowrap;
  width: 100%;
}

div.mediashare-slideshow div.strip img {
  border: 1px solid #000;
  margin: 4px 0px 0px 4px;
}

div.mediashare-slideshow div.strip img.selected {
  border: 3px solid #000;
}
