#mediashare .mediashare-breadcrumb {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #DDDDDD;
    display: block;
    margin: 10px 0;
    padding: 2px;
}

div.mediashare td.top {
    vertical-align: top;
}

div.mediashare span.rss {
    font-size: 8px;
}

div.mediashare span.rss a {
    text-decoration: none;
}

input.mediashare-readonly {
    border: none;
    border-bottom: 1px solid #DDD;
    background-color: #ddd;
}

.mediashare-inputhelp {
    font-size: 90%;
    font-style: italic;
}

/* Menu */

div.mediashare-menu {
    border: 1px solid black;
    border-top: none;
    background-color: #dde;
    padding: 5px;
}

div.mediashare-menu a {
    text-decoration: none;
    color: #FFF;
    margin: 0px 6px;
}

/* Browse icons */

div.mediashare-browseicons {
    margin: 10px 0px 2px 0px;
}

div.mediashare-browseicons img {
    vertical-align: middle;
    margin: 0px 6px 0px 10px;
}

div.mediashare-browseicons a {
    text-decoration: none;
}

/* Toolbar */

div.mediashare-toolbar {
    margin: 10px 0;
}

/* Album list */

div.mediashare-albumlist {
    margin-top: 8px;
}

/* Tabs */

div.mediashare-tabs {
    float: left;
    width: 100%;
    background: url("../pnimages/tabs_background.gif") repeat-x bottom;
    margin-bottom: 1em;
}

div.mediashare-tabs ul {
    margin: 0px;
    padding: 0px 0px 0px 10px;
    list-style: none;
}

div.mediashare-tabs li {
    float: left;
    margin: 0px;
    padding: 2px 4px;
}

div.mediashare-tabs li.link {
    background-color: #EEE;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

div.mediashare-tabs li.selected {
    background-color: #FFF;
}

div.mediashare-tabs a {
    display: block;
    text-decoration: none;
}

div.mediashare-tabs a:hover {
    text-decoration: underline;
}

div.mediashare-tabs li.selected a {
    padding-bottom: 1px;
}

div.mediashare-tabback {
    float: right;
}

div.mediashare-tabback a {
    text-decoration: none;
}

/* Album info box (small box with album and it's data - for use with delete and such like) */

div.mediashare-albumInfo {
    padding: 0px;
    margin: 0px 0px 4px 0px;
}

div.mediashare-albumInfo img {
    float: left;
    margin: 0px 10px 0px 0px;
}

div.mediashare-albumInfo h3 {
    margin: 0px 10px 0px 0px;
}

/* Editing block */

div.mediashare-block {
    border: 1px solid black;
    width: auto;
    margin-top: 10px;
}

div.mediashare-block td {
    vertical-align: top;
}

/* Floating block with media item in it */

div.mediashare-float {
    float: left;
    text-align: center;
}

div.mediashare-float table td {
    vertical-align: top;
    text-align: left;
}

div.mediashare-float div.thumbnail {
    padding: 0px 0px 2px 0px;
}

div.mediashare-float img.thumbnail {
    border: 1px solid black;
    /*
    background-image: url("../pnimages/album_top.gif");
    background-repeat: no-repeat;
    background-position: top left;
    */
    cursor: hand;
    cursor: pointer;
}

div.mediashare-float a.album {
    padding-top: 9px;
    display: block;
    float: left;
    background-image: url("../pnimages/album_top.gif");
    background-repeat: no-repeat;
    background-position: top left;
}

div.mediashare-float img {
    vertical-align: top;
}

div.mediashare-float a {
    margin: 1px;
}

/* Album or media item informational area */

div.mediashare-data {
}

div.mediashare-data h3 {
    margin: 0px 0px 5px 0px;
    color: #000;
}

div.mediashare-data h3 a {
    text-decoration: none;
    color: #000;
}

div.mediashare-data a:hover {
    text-decoration: underline;
}

div.mediashare-data div.summary {
    font-style: italic;
    margin: 5px 0px 10px 0px;
}

div.mediashare-data div.description {
    margin: 5px 0px 10px 0px;
}

div.mediashare-data div.author {
    font-size: 90%;
}

div.mediashare-item {
    float: left;
    padding: 0px;
    width: auto;
}

div.mediashare-item img.media,
div.mediashare-item object.media,
div.mediashare-item embed.media {
    border: 5px solid #000;
    margin: 0px;
    cursor: hand;
    cursor: pointer;
}

div.mediashare-item div.mediashare-zoom {
    text-align: center;
}

div.mediashare-item div.mediashare-zoom a {
    display: block;
    background-color: #444;
    color: #FFF;
    text-decoration: none;
}

div.mediashare-item div.mediashare-zoom a:hover {
    display: block;
    background-color: #777;
    text-decoration: none;
}

div.mediashare-item span.description {
    font-style: italic;
}

div.mediashare-data div.navigation {
    float: right;
    margin: 0px;
    padding: 0px;
}

div.mediashare-data div.navigation img {
    vertical-align: middle;
}

div.mediashare-footer {
    text-align: center;
    margin-top: 30px;
    font-size: 80%;
}

div.mediashare-footer a {
    color: #777;
    text-decoration: none;
}

div.mediashare-userinfo {
    margin-bottom: 0.5em;
}

div.mediashare-userinfo * {
    vertical-align: middle;
}

/* Album frontpage */

div.mediashare-album {
    margin: 0px 0px 0px 0px;
}

div.mediashare-album div.mediashare-item {
    margin: 0px 20px 20px 0px;
}

/* Media thumbnail list */

div.mediashare-medialist ul.sortkeys {
    list-style: none;
    display: inline;
    margin: 0px;
    padding: 0px;
}

div.mediashare-medialist ul.sortkeys li {
    display: inline;
    margin: 0px 4px 0px 4px;
}

div.mediashare-medialist ul.sortkeys li.selected {
    font-weight: bold;
}

div.mediashare-medialist h3 {
    clear: both;
    margin: 0px;
    padding: 20px 0px 0px 0px;
}

div.mediashare-medialist div.data {
    display: block;
    float: left;
    width: 400px
}

div.mediashare-medialist p {
    margin: 0px 0px 1ex 0px;
}

div.mediashare-medialist img {
    float: left;
    vertical-align: top;
    margin-right: 10px;
}

ul.mediashare-upload-list img {
    vertical-align: middle;
}

tr.mediashare-sizerow td {
    padding-bottom: 1em;
}

/* Latest items */
table.mediashare-mostactive td {
    vertical-align: top;
    padding: 5px;
    width: 50%;
}

table.mediashare-mostactive td.left {
    padding: 5px 10px 0px 0px;
}

table.mediashare-mostactive td.right {
    padding: 5px 0px 0px 10px;
}

table.mediashare-mostactive td.right a {
    padding-right: 5px;
}

div.mediashare-invitations div.row {
    margin: 0px 0px 20px 0px;
}

div.mediashare-invitations div.mediashare-invtext {
    margin: 0px 0px 0px 20px;
    width: 400px;
    font-style: italic;
}

div.mediashare-invlink {
    text-align: center;
    font-weight: bold;
    font-size: 110%;
    border: 1px solid #333;
    padding: 6px;
}

table.mediashare-grid {
    width: 90%;
    margin-bottom: 10px;
}

/* Recalculating */

div.mediashare-recalc iframe {
    width: 200px;
    height: 50px;
    float: right;
    margin: 0px 0px 10px 10px;
    border: 1px solid #000;
}

/* pnForms itemselector */

div.mediashareItemSelector td.selector {
    padding: 5px 20px 5px 5px;
    vertical-align: top;
}

div.mediashareItemSelector td.img {
    vertical-align: middle;
    text-align: center;
}

div.mediashareItemSelector td.selector input.file {
    width: 400px;
}

/* Simplefied pages using microformat ideas */

dl.figure {
    list-style: none;
    margin: 0;
}

dl.figure dd {
    margin: 0;
}

div.mediashare-filmstrip {
    border: 1px solid #777;
    padding: 2px 10px;
    width: 100%;
}

div.mediashare-filmstrip table {
    margin: auto;
}

span.mediashare-filmstrip-info {
    color: #444;
    font-size: 90%;
}

/* Menu handling */

/* Surrounding DIV tag */
#mediashare div.psmenu {
    position: absolute;
    visibility: hidden;
    font: arial, sans-serif;
    z-index: 100;
    border-top: 1px solid #D0D0D0;
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #dde;
    width: 140px;
    text-align: left;
}

#mediashare div.psmenu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#mediashare div.psmenu ul li {
    display: inline;
    font-size: 12px;
    line-height: 14px;
    margin: 2px 0;
    padding: 2px 0;
    white-space: nowrap;
}

/* IE hack */
* html #mediashare div.psmenu ul li {
    display: inline;
}

#mediashare div.psmenu li img {
    margin: 4px 0px 0px 4px;
    float: left;
    vertical-align: bottom;
}

#mediashare div.psmenu li a {
    display: block;
    text-decoration: none;
    margin: 0px 0px 0px 20px;
    padding: 2px;
    color: #000;
}

#mediashare div.psmenu li a:hover {
    background-color: #333;
    color: #DDD;
    text-decoration: none;
}

#mseditheader {
    min-height: 40px;
}

.ms-item {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    padding: 0;
    border: 1px solid #E0E0E0;
    text-align: center;
}

.ms-item:hover {
    border: 1px solid #aaa;
}

.ms-item-box {
    overflow: hidden;
    height: 0; /* value will be changed in the templates */
    width: 0; /* value will be changed in the templates */
}

.ms-item.ms-albumitem {
    border: 1px solid #666666;
}

.ms-item.ms-albumitem:hover {
    border: 1px solid #000;
}

.ms-item-content {
    background: none repeat scroll 0 0 #F0F0F0;
    border-top: 1px solid #E0E0E0;
    display: block;
    font-size: 12px;
    min-height: 19px;
    line-height: 19px;
    position: relative;
}

.ms-albumitem .ms-item-content {
    background: none repeat scroll 0 0 #DADADA;
    border-top: 1px solid #666666;
}

.ms-item-caption {
    overflow: hidden;
}

.ms-item-thumblink {
    display: inline;
}

.ms-item-thumbnail {
    display: block;
    margin: 5px;
}

.ms-item-caption img {
    vertical-align: text-bottom;
}

.ms-buttons input {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    line-height: 130%;
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    text-decoration: none !important;
    text-align: center;
    font-weight: bold;
    margin: 0 5px 0 0;
    padding: 2px 5px;
    color: #444;
    border-color: #CCCCCC #B9B9B9 #B9B9B9 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    background: #dfdfdf; /*non-CSS3 browsers*/
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)); /*webkit*/
    background: -moz-linear-gradient(top, #ffffff, #dfdfdf); /*gecko*/
    background: linear-gradient(#FFFFFF, #dfdfdf); /*CSS3*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.ms-buttons .ms-button-edit {
    padding: 2px 2px 2px 20px;
    background: url("../pnimages/edit.gif") #dfdfdf 5px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../pnimages/edit.gif") 5px 50% no-repeat, -moz-linear-gradient(center top, #ffffff, #dfdfdf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../pnimages/edit.gif") 5px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../pnimages/edit.gif") 5px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf); /*CSS3*/
}

.ms-buttons .ms-button-move {
    padding: 2px 2px 2px 20px;
    background: url("../pnimages/move.gif") #dfdfdf 5px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../pnimages/move.gif") 5px 50% no-repeat, -moz-linear-gradient(center top, #ffffff, #dfdfdf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../pnimages/move.gif") 5px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../pnimages/move.gif") 5px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf); /*CSS3*/
}

.ms-buttons .ms-button-delete {
    padding: 2px 2px 2px 20px;
    background: url("../pnimages/delete.gif") #dfdfdf 5px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../pnimages/delete.gif") 5px 50% no-repeat, -moz-linear-gradient(center top, #ffffff, #dfdfdf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../pnimages/delete.gif") 5px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../pnimages/delete.gif") 5px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf); /*CSS3*/
}



#mediashare-arrange-table {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: inherit;
    margin-bottom: 1em;
    margin-top: 0;
    padding: 5px 5px 10px;
    width: 100%;
    text-align: center;
}

#mediashare-arrange-table td {
    background-color: #F3F3F3;
    border-width: 0;
    padding: 5px;
}

#mediashare-arrange-table img {
    cursor: pointer;
}
